.container{
  width: 90%;
  margin: 20px auto
}

.heading{
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px !important;
  letter-spacing: 0;
}
.row{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
}
.card{
  width: 24%;
  background: #fff;
  border: 2px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  margin-top: 15px;
  height: 350px;
  
}
/* background: linear-gradient(to right,#ff416c,#ff4b2b);*/
.card-header{
  text-align: center;
  padding: 20px 0px 0px 20px;
  background: #FFB6C1;
}
.card-body{
  padding: 20px 20px;
  text-align: left;
  font-size: 13px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}
@media screen and (max-width:1000px){
  .container{
    width: 90%;
  }
  .card{
    width:45%;
    margin: 10px;
  }
}
@media screen and (max-width:620px){
  .container{
    width: 100%;
  }
  .heading{
    padding: 20px;
    font-size: 20px;
  }
  .card{
    width:100%;
    margin: 10px;
  }
}
.heading{
  text-align: center;
  font-weight: bolder;
  margin: 0;
  font-size: xx-large;
}

.paragraph{
  padding: 10px;
  margin: 0;
  display: flex;
}
.gallery{
   padding: 2px;
}
.gallery img{
  padding-right: 20px;
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.des{
  padding: 10px;
  text-align: center;
  font-size: large;
}
.aboutus{
  margin-left: 10%;
}
.responsive{
  text-align: center;
  padding: 3px;
  float: left;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 15px;
  z-index: 1;
  
}
.responsive:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}
@media only screen and (max-width:700px){
  .responsive{
    width: 50%;
    margin: 6px 0;
  }
}
  @media only screen and (max-width:500px){
    .responsive{
      width: 100%;
    }
  }
  
.icon:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}
  .centre-btn{
    text-align: center;
  }
  .button{
    text-align: center;
    background: #FFB6C1;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  
  
  .box{
    padding-top: 25px;
    width: 100%;
    margin-top: 20px !important;
  }
.box ul{
  background: #fff;
}
.box ul li{
  list-style: none;
  padding: 13px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,.1);
  transition: transform 0.5s;
}
.box ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background:#FFB6C1;
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
}

.card2{
  width: 30%;
  background: #fff;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card21{
  width: 70%;
  background: #fff;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
}
.card-body2{
  padding: 30px 20px;
  text-align: center;
  font-size: 23px;
}

@media screen and (max-width:1000px){
  .card2{
    width:100%;
    margin:0;
    padding: 0;
  }
  
  .card21{
    width: 100%;
    margin:0;
    padding: 0;
  }
  .card-body2{
    padding: 0;
    text-align: center;
    font-size: 18px;
  }
}
@media screen and (max-width:620px){
  .container{
    width: 100%;
  }
  .card2{
    width:100%;
  }
  .box{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

em{
  font-style: italic !important;
}